[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kafka-python = "*"
wheel = "*"
setuptools = "*"
pyspark = "*"
apache-airflow = {version = "==2.0.2", extras = ["celery", "databricks", "docker", "oracle", "postgres", "presto", "sftp", "ssh", "tableau"]}

[dev-packages]
pylint = "*"
pytest = "*"
autopep8 = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
