[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kafka-python = "*"
wheel = "*"
setuptools = "*"
pylint = "*"

[dev-packages]
pytest = "*"
autopep8 = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
