#MWAA 2.0.2 requirements: https://docs.aws.amazon.com/mwaa/latest/userguide/connections-packages.html
apache-airflow-providers-tableau==1.0.0
apache-airflow-providers-databricks==1.0.1
apache-airflow-providers-ssh==1.3.0
apache-airflow-providers-postgres==1.0.2
apache-airflow-providers-docker==1.2.0
apache-airflow-providers-oracle==1.1.0
apache-airflow-providers-presto==1.0.2
apache-airflow-providers-sftp==1.2.0
